<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - </title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
{#    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-grid.min.css' %}" />#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-reboot.min.css' %}" />#}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/dc.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/navbar.css' %}" />
{#    <link rel="stylesheet" type="text/css" href="{% static 'app/content/about-style.css' %}" />#}
    <script src="{% static 'app/scripts/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.min.js' %}"></script>


</head>

<body>
    <form method="POST" action="http://djangoserver" style="display: none" >{% csrf_token %}</form>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="font-size: 34px">
                    <div class="logo-container">
{#                        <img src="/media/logo/logo.png" class="logo">#}
                    </div>
                    PR1AD.com
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-right">
                    <ul class="nav navbar-nav" style="font-size: 16px">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">Company</a></li>
                        {% if user.is_superuser %}
                            <li><a href="{% url 'adwords:all_campaigns' %}">Adwords Panel</a></li>
                        {% elif user.is_authenticated %}
                            
                        {% endif %}
                        {% if user.is_authenticated %} 
                        <li><a href="{% url 'adwords:index' %}">Dashboard</a></li>
                        {% endif %}
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
{#                        <li class="dropdown">#}
{#                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                                About <b class="caret"></b>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu">#}
{#                                #}
{#                            </ul>#}
{#                        </li>#}
                    </ul>

                    {% include 'app/loginpartial.html' %}
                </div>


            </div>
        </div>
    </div>

</div>


    <div class="container body-content">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        {% block content %} {% endblock %}

     <hr>
     <div class="footer">
        <p>Copyright  &copy;  {{ year }}-2021 &emsp; by PR1AD.com &emsp; | &emsp; &#9829;  Proudly powered by India Shubham   &#9829; &emsp;  |  &emsp;   reg.no. *******</p>
     </div>

    </div>

</body>
</html>
