{% extends "app/layout.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="content-section">
    <form method="POST" action={% url 'register' %}>
        <fieldset class="form-group">
            {% crispy form %}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </fieldset>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>

{% endblock content%}



